@charset "utf-8";

@font-face {
    font-family: 'TTJejuGamgyulR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/TTJejuGamgyulR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
head {font-family: 'TTJejuGamgyulR';}
body {font-family: 'TTJejuGamgyulR';}

.box {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    margin: 5px;
    overflow: hidden;
    border: 1px solid #F5F5DC;
}
.box02 {
    width: 35px;
    height: 35px;
    border-radius: 70%;
    margin: 5px;
    overflow: hidden;
    border: 1px solid #F5F5DC;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile02 {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.di_st {
    display: flex;
    flex-direction: row;
}
.image_up {
    width: 100%;
    height: 100%;
}
.user_name {
    font-size:16px;
    margin-bottom:-5px;
    margin-left: -10px;
    text-align: left;
}
.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}
.modal_window {
    background: white;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 800px;
    height: 600px;
    position: relative;
    padding: 10px;
    justify-content: center;

}