<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <link rel="stylesheet" href="https://byungu.github.io/Projectinsta/style/style.css">
    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width:100%; background:white">
    <div class="container-fluid" style="min-width: 620px">
        <img src="https://byungu.github.io/Projectinsta/image/title-01.png?after" style="margin-left: 10px" width="120"
             height="36">
        <input class="form-control me-2" style="width:200px; font-size:20px; margin-left: 10px; text-align: center"
               type="search"
               placeholder="검색">
        <div>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">home</span>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">forward</span>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">add_box</span>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">explore</span>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">favorite_border</span>
        </div>
    </div>
</nav>
<div style="display: flex; flex-direction: row; text-align:center; justify-content: center; padding-top:60px; background-color: #F1F3F5">
    <div style="max-width: 600px; min-width: 400px; height: 100%; background-color: white; margin-right:530px; font-size: 20px;">
        <div style="border: solid 1px black; background: white;">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div class="box" style="margin: 5px 20px">
                    <div class="profile">
                        <img src="https://byungu.github.io/Projectinsta/image/i15408406726.png"
                             style="object-fit: contain; width:60px">사용자
                    </div>
                </div>
                <div style="margin-left: 2px; font-size: 20px;">
                    byungu90
                </div>
            </div>
            <div>
                <img class="image_up" src="https://byungu.github.io/Projectinsta/image/forest5.jpg">
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 5px; margin-left: 20px">
                <div>
                    <span class="material-icons-outlined"
                          style="font-size:36px; margin-left: 10px">favorite_border</span>
                    <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">textsms</span>
                    <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">forward</span>
                </div>
                <div>
                    <span class="material-icons-outlined"
                          style="font-size:36px; margin-left: 10px">bookmark_border</span>
                </div>
            </div>
            <div style="text-align: left; margin: 0px 20px">멍청이 <b>외 19명</b>이 좋아합니다.</div>
            <div style="text-align: left; margin: 0px 20px"><b>byungu90</b> 숲속 풍경을 감상해보세요~</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이1</b> 삐깨삐깨 삐깨쮸</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이23</b> 꼬북꺼북 꺼북이</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이56</b> 치코치카 치코리타</div>
            <div style="text-align: center; margin: 0px 20px"></div>
            <input type="text" placeholder="댓글 달기" style="width:100%; outline: none; ">
        </div>
        <div style="border: solid 1px black; background: white;  margin-top: 50px">
            <div style="display: flex; flex-direction: row; align-items: center">
                <div class="box" style="margin: 5px 20px">
                    <div class="profile">
                        <img src="https://byungu.github.io/Projectinsta/image/mokoko01.jpg"
                             style="object-fit: contain; width:60px">사용자
                    </div>
                </div>
                <div style="margin-left: 2px; font-size: 20px;">
                    byungu90
                </div>
            </div>
            <div>
                <img class="image_up" src="https://byungu.github.io/Projectinsta/image/forest5.jpg">
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 5px; margin-left: 20px">
                <div>
                    <span class="material-icons-outlined"
                          style="font-size:36px; margin-left: 10px">favorite_border</span>
                    <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">textsms</span>
                    <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">forward</span>
                </div>
                <div>
                    <span class="material-icons-outlined"
                          style="font-size:36px; margin-left: 10px">bookmark_border</span>
                </div>
            </div>
            <div style="text-align: left; margin: 0px 20px">멍청이 <b>외 19명</b>이 좋아합니다.</div>
            <div style="text-align: left; margin: 0px 20px"><b>byungu90</b> 숲속 풍경을 감상해보세요~</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이1</b> 삐깨삐깨 삐깨쮸</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이23</b> 꼬북꺼북 꺼북이</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이56</b> 치코치카 치코리타</div>
            <div style="text-align: center; margin: 0px 20px"></div>
            <input type="text" placeholder="댓글 달기" style="width:100%; outline: none; ">
        </div>
    </div>
    <div style="width: 400px; height: 850px; background-color: blue; position: fixed; left:53%; background:#e9ecef; font-size: 20px;">
        <div style="display: flex; flex-direction: row; align-items: center">
            <div class="box" style="margin: 5px 20px">
                <div class="profile">
                    <img src="https://byungu.github.io/Projectinsta/image/i15408406726.png"
                         style="object-fit: contain; width:60px">사용자
                </div>
            </div>
            <div style="margin-top: -15px; font-size: 20px;">
                <div class="user_name">
                    <b>byungu90</b>
                </div>
                <div class="user_name" style="color: gray;">
                    Byungu King
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div>
                <b style="margin-left: 20px">회원님을 위한 추천 </b>
            </div>
            <div>
                <a href="#" style="text-decoration: none; color: black;"><b style="margin-right: 20px">모두 보기</b></a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
            <div class="box02" style="margin: 5px 20px">
                <div class="profile">
                    <img src="https://byungu.github.io/Projectinsta/image/mokoko02.jpg"
                         style="object-fit: contain; width:60px">사용자
                </div>
            </div>
            <div style="margin-top: -15px; font-size: 20px;">
                <div class="user_name">
                    <b>byungu90</b>
                </div>
                <div class="user_name" style="color: gray;">
                    Byungu King
                </div>
            </div>
        </div>
        <div>추천인 프로필</div>
        <div>추천인 프로필</div>
        <div>추천인 프로필</div>
        <div>추천인 프로필</div>
        <div>소개 도움말 홍보센터 API</div>
        <div>2022 병구스그램 프롬 byungu</div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>