<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <link rel="stylesheet" href="https://byungu.github.io/Projectinsta/style/style.css">
    <!-- jquery-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Byugu's gram!!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width:100%; background:white">
    <div class="container-fluid" style="min-width: 620px">
        <img src="https://byungu.github.io/Projectinsta/image/title-01.png?after" style="margin-left: 10px" width="120"
             height="36">
        <input class="form-control me-2" style="width:200px; font-size:20px; margin-left: 10px; text-align: center"
               type="search"
               placeholder="검색">
        <div>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">home</span>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">forward</span>
            <span id="nav_add_box" class="material-icons-outlined" style="font-size:36px; margin-left: 10px">add_box</span>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">explore</span>
            <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">favorite_border</span>
        </div>
    </div>
</nav>
<div class="di_st" style="text-align:center; justify-content: center; padding-top:60px; background-color: #F1F3F5">
    <!-- 좌측화면 구성/피드박스-->
    <div  class="feed_box" style="max-width: 600px; min-width: 400px; height: 100%; background-color: white; margin-right:530px; font-size: 20px;">
        {% for feed in feed_list %}
        <div style="border: solid 1px black; background: white;">
            <div class="di_st" style="align-items: center">
                <div class="box" style="margin: 5px 20px">
                    <div class="profile">
                        <img src="{{ feed.profile_image }}" style="object-fit: contain; width:60px">사용자
                    </div>
                </div>
                <div style="margin-left: 2px; font-size: 20px;">
                    {{ feed.user_id }}
                </div>
            </div>
            <div>
                <img class="image_up" src="{{ feed.image }}">
            </div>
            <div class="di_st" style="justify-content: space-between; margin: 5px; margin-left: 20px">
                <div>
                    <span class="material-icons-outlined"
                          style="font-size:36px; margin-left: 10px">favorite_border</span>
                    <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">textsms</span>
                    <span class="material-icons-outlined" style="font-size:36px; margin-left: 10px">forward</span>
                </div>
                <div>
                    <span class="material-icons-outlined"
                          style="font-size:36px; margin-left: 10px">bookmark_border</span>
                </div>
            </div>
            <div style="text-align: left; margin: 0px 20px">멍청이 <b>외 {{ feed.like_count }}명</b>이 좋아합니다.</div>
            <div style="text-align: left; margin: 0px 20px"><b>{{ feed.user_id }}</b>   {{ feed.content }}</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이1</b> 삐깨삐깨 삐깨쮸</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이23</b> 꼬북꺼북 꺼북이</div>
            <div style="text-align: left; margin: 0px 20px"><b>멍청이56</b> 치코치카 치코리타</div>
            <div style="text-align: center; margin: 0px 20px"></div>
            <input type="text" placeholder="댓글 달기" style="width:100%; outline: none; ">
        </div><br><br>
        {% endfor %}
    </div>
    <!-- 여기까지 -->
    <!-- 우측화면 구성-->
    <div style="width: 400px; height: 850px; background-color: blue; position: fixed; left:53%; background:#e9ecef; font-size: 20px;">
        <div class="di_st" style="align-items: center">
            <div class="box" style="margin: 5px 20px">
                <div class="profile">
                    <img src="https://byungu.github.io/Projectinsta/image/i15408406726.png"
                         style="object-fit: contain; width:60px">사용자
                </div>
            </div>
            <div style="margin-top: -15px; font-size: 20px;">
                <div class="user_name">
                    <b>byungu90</b>
                </div>
                <div class="user_name" style="color: gray;">
                    Byungu King
                </div>
            </div>
        </div>
        <div class="di_st" style="justify-content: space-between">
            <div>
                <b style="margin-left: 20px">회원님을 위한 추천 </b>
            </div>
            <div>
                <a href="#" style="text-decoration: none; color: black;"><b style="margin-right: 20px">모두 보기</b></a>
            </div>
        </div>
        <div class="di_st" style="align-items: center; justify-content: space-between;">
            <div class="di_st" style="justify-content: space-between; align-items: center">
                <div class="box02" style="margin: 5px 20px">
                    <div class="profile02">
                        <img src="https://byungu.github.io/Projectinsta/image/mokoko02.jpg"
                             style="object-fit: contain; width:60px">사용자
                    </div>
                </div>
                <div style="margin-top: -10px; font-size: 14px;">
                    <div class="user_name">
                        <b>pikapika_ppaekachu</b>
                    </div>
                    <div class="user_name" style="color: gray; font-size: 16px;">
                        raichu_님 외 19명이 팔로우합니다.
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="color: blue; text-decoration: none; margin-right: 20px;">
                    <b>팔로우</b>
                </a>
            </div>
        </div>
        <div class="di_st" style="align-items: center; justify-content: space-between;">
            <div class="di_st" style="justify-content: space-between; align-items: center">
                <div class="box02" style="margin: 5px 20px">
                    <div class="profile02">
                        <img src="https://byungu.github.io/Projectinsta/image/mokoko03.jpg"
                             style="object-fit: contain; width:60px">사용자
                    </div>
                </div>
                <div style="margin-top: -10px; font-size: 14px;">
                    <div class="user_name">
                        <b>gobuk_ggobbuk</b>
                    </div>
                    <div class="user_name" style="color: gray; font-size: 16px;">
                        raichu_님 외 13명이 팔로우합니다.
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="color: blue; text-decoration: none; margin-right: 20px">
                    <b>팔로우</b>
                </a>
            </div>
        </div>
        <div class="di_st" style="align-items: center; justify-content: space-between;">
            <div class="di_st" style="justify-content: space-between; align-items: center">
                <div class="box02" style="margin: 5px 20px">
                    <div class="profile02">
                        <img src="https://byungu.github.io/Projectinsta/image/mokoko04.png"
                             style="object-fit: contain; width:60px">사용자
                    </div>
                </div>
                <div style="margin-top: -10px; font-size: 14px;">
                    <div class="user_name">
                        <b>pail_pairy</b>
                    </div>
                    <div class="user_name" style="color: gray; font-size: 16px;">
                        raichu_님 외 23명이 팔로우합니다.
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="color: blue; text-decoration: none; margin-right: 20px">
                    <b>팔로우</b>
                </a>
            </div>
        </div>
        <div class="di_st" style="align-items: center; justify-content: space-between;">
            <div class="di_st" style="justify-content: space-between; align-items: center">
                <div class="box02" style="margin: 5px 20px">
                    <div class="profile02">
                        <img src="https://byungu.github.io/Projectinsta/image/mokoko05.png"
                             style="object-fit: contain; width:60px">사용자
                    </div>
                </div>
                <div style="margin-top: -10px; font-size: 14px;">
                    <div class="user_name">
                        <b>ddoga_ddogas</b>
                    </div>
                    <div class="user_name" style="color: gray; font-size: 16px;">
                        aboke_님 외 2명이 팔로우합니다.
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="color: blue; text-decoration: none; margin-right: 20px">
                    <b>팔로우</b>
                </a>
            </div>
        </div>
        <div class="di_st" style="align-items: center; justify-content: space-between;">
            <div class="di_st" style="justify-content: space-between; align-items: center">
                <div class="box02" style="margin: 5px 20px">
                    <div class="profile02">
                        <img src="https://byungu.github.io/Projectinsta/image/mokoko06.jpg"
                             style="object-fit: contain; width:60px">사용자
                    </div>
                </div>
                <div style="margin-top: -10px; font-size: 14px;">
                    <div class="user_name">
                        <b>zilbbuk_bbuki</b>
                    </div>
                    <div class="user_name" style="color: gray; font-size: 16px;">
                        coil_님 외 13명이 팔로우합니다.
                    </div>
                </div>
            </div>
            <div>
                <a href="#" style="color: blue; text-decoration: none; margin-right: 20px">
                    <b>팔로우</b>
                </a>
            </div>
        </div>

        <div style="margin-top: 50px; margin-left: 20px; color: gray; font-size: 12px; text-align: left;">
            소개 -도움말 -홍보센터 -API<br>
            개인정보처리방침 -약관 -위치 -인기계정 -해시태그 - 언어
        </div>
        <div style="margin-left: 20px; margin-top: 20px; color: gray; font-size: 12px; text-align: center;">2022 Byungusgram FROM Byungu</div>
    </div>
</div>
<div id="modal_add_feed" class="modal_overlay">
    <div class="modal_window" style="left:20%; width:60%;">
<!--        <div class="modal_title">-->
<!--            <div class="modal_title_side"></div>-->
<!--            <div> 새 게시물 </div>-->
<!--            <div class="modal_title_side">-->
<!--                <span id="close_modal" class="material-icons-outlined">-->
<!--                    close-->
<!--                </span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="modal_image_upload">-->

<!--        </div>-->
    </div>
</div>
<script>
    $('#nav_add_box').click(function(){
        $('.modal_overlay').css({
            display: 'flex'
        });
    });
</script>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>